@font-face{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-top: 10px;
    cursor: pointer;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}





/* MAIN SIGN UP CONTENT  */

/* SIGN UP CONTENT START  */
    #main_signup_div{
        width: 50%;
        margin: auto;
        border: 1px solid transparent;
        padding: 20px;
        font-family: sans-serif;
        word-spacing: 1px;
    }
    #main_signup_div>h2{
            font-size: xx-large;
            font-weight: lighter;
        }
    #main_signup_div>div{
        width: 80%;
        border: 1px solid transparent;
        margin: auto;
        height: 650px;
}

/* SIGN UP FORM TABLE DIV */
.signup_form_table_div{
    display: flex;
}

/* SIGN UP FORM IN TABLE FORM  */
    .signup_form_label{
        text-align: left;
        width: 500px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(87, 86, 86);
        font-weight: lighter;
    }
    #signup_pleaseselect{
        width: 300px;
        height: 40px;
        color: rgb(87, 86, 86);
    }
    #firstname{
        width: 300px;
        height: 40px;
    }
    #lastname{
        width: 300px;
        height: 40px;
    }
    #customeremail{
        width: 300px;
        height: 40px;
    }
    #customerphnnum{
        width: 300px;
        height: 40px;
    }

/* PASSWORD SECTION  */
    #password{
        width: 300px;
        height: 40px;
    }
    #confirmpassword{
        width: 300px;
        height: 40px;
    }

/* SIGN UP BUTTON */
    #signup_button{
        font-size: larger;
        font-weight: lighter;
        background-color: transparent;
        border: 1px solid black;
        width: 100%;
        padding: 10px;
        color: rgb(87, 86, 86);
    }
    #signup_button:active{
        background-color: black;
        color: white;
    }
    #signup_button:hover{
        background-color: black;
        color: white;
    }

    /* THE FOOTER PART */
    /*_*******************************************************-------------newlatter-----------*************************************************** */ 
#footer_body_hair_care{
    margin: 0px;
    color:black;
    background-color: white;
}
#newsletter_image_container{
    background-image: url(https://images.forestessentialsindia.com/pub/media/cms_images/newsletter-bg.jpg);
    text-align: center;
    height: 250px;
    background-size: cover;
    padding: 98px 0px;
    margin-top: 60px;
}
#newslatter_text_container{
    width: 700px;
    height: 300px;
    color: white;
    margin: auto;
} 
#newslatter_text_container p{
    border: 1px solid transparent;
    line-height: 35px;
    font-size: 19px;
    width: 90%;
    letter-spacing: .5px;
}
.inputfield{
    border: none;
    padding: 14px 27px;
    font-size: 12px;
    height: 20px;
    font-family:calibri;
    width: 210px;
    letter-spacing: 3px;
}
#newsletter_image_container button{
    background-color: #d2ab67;
    border: 1px solid #d2ab67;
    color: white;
    padding: 15px 15px;
    font-size: 13px;
    width: 150px;
    height: 48.5px;
    letter-spacing: 3px;
}
#newsletter_image_container button:hover{
    background-color: black;
    border-color: white;
}
#newslatter_text_container a{
    color: white;
    text-decoration: none;
}
/* _____________________________________________________newslatter-css-end_________________________________________________________________ */


/* ******************************************--------services-characteristics-css-start---------******************************************* */
#footer,#service_charac{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    font-family: calibri;
    color: rgb(85, 80, 80);
    margin-top: 100px;
}
#footer>div,#service_charac div{
    height: 300px;
    width: 23%;
}
#service_charac div{
    height: 230px;
    letter-spacing: 1px;
}
#service_charac img{
    height:100px ;
    width:100px;
}
#service_charac h2{
    margin-top: 40px;
    font-weight: normal;
    letter-spacing: 2px;
}
#service_charac p{
    font-size: 14px;
    line-height: 27px;
    width: 100%;
}
/* _____________________________________________________services-characteristics-css-end_________________________________________________________________ */


/*****************************************************--------- footer css-start--------*****************************************************/
    /* margin: 30px auto; */
/* } */
#footer ul{
    list-style: none;
}
#footer h4,#footer li{
    font-size: 11px;
    line-height: 36px;
    letter-spacing: 2.8px;
    color: #000;
}
#footer h4{
    border-top: 1px solid #e8e8e8;
    margin: 80px 0 30px;
    padding-top: 30px;
    font-weight: normal;
}
#footer a{
    text-decoration: none;
}
#footer .a{
    color:#000;
    border-bottom: 1px solid #8d8080;
    padding-bottom: 3px;
}
#footer p{
    font-size: 16px;
}
#footer ul{
    padding: 0px;
    margin: 0px;
}
.fa{
    width: 25px;
    height: 25px;
}
/*__________________________________________________________footer-css-end______________________________________________________________________*/


/* **************************************************----------copyright-css-start------------***************************************************/
#copy_right{
    display: flex;
    width: 80%;
    height: 150px;
    justify-content: space-between;
    margin: auto;
    margin-top: 250px;
}
#copy_right>div{
    padding: 0px 10px;
    width: 48%;
    border: 1px solid transparent;
}
#copy_right span{
    letter-spacing: 2.8px;
    display: block;
    padding-bottom: 40px;
    padding-top: 25px;
    font-size: 13px;
    border-top: 1px solid #e8e8e8;
}
/* _______________________________________________________________copyright-css-end_________________________________________________________ */




@media only screen and (min-width: 0px) and (max-width: 375px){
    /* MAIN SIGN UP CONTENT  */

    /* SIGN UP CONTENT START  */
    #main_signup_div{
        width: 98%;
        margin: auto;
        padding: 10px;
    }
    #main_signup_div>h2{
            font-size: x-large;
        }
    #main_signup_div>div{
        width: 90%;
        border: 1px solid transparent;
        margin: auto;
        height: 650px;
    }

    /* SIGN UP FORM TABLE DIV */
    .signup_form_table_div{
    display: block;
    }

    /* SIGN UP FORM IN TABLE FORM  */
    .signup_form_label{
        width: 300px;
    }
    #signup_pleaseselect{
        width: 300px;
        height: 30px;
        color: rgb(87, 86, 86);
    }
    #firstname{
        width: 300px;
        height: 30px;
    }
    #lastname{
        width: 300px;
        height: 30px;
    }
    #customeremail{
        width: 300px;
        height: 30px;
    }
    #customerphnnum{
        width: 300px;
        height: 30px;
    }

    /* PASSWORD SECTION  */
    #password{
        width: 300px;
        height: 30px;
    }
    #confirmpassword{
        width: 300px;
        height: 30px;
    }

    /* THE FOOTER PART */
    #newsletter_image_container{
        height: 450px;
    }
    #newslatter_text_container{
        width: 100%;
    }
    #input_fleld_div input{
        margin-bottom: 20px;
    }
    #service_charac{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
    }
    #service_charac div{
        width: 100%;
        height: 400px;
        text-align: center;
    }
    #service_charac>div:last-child{
        height: 100px;
    }
    #footer{
        display: grid;
        width: 90%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,400px);
        grid-gap: 20px;
    }
    #footer div{
        width: 374px;
    }
    #footer>div:last-child{
        height: 100px;
    }
    #copy_right{
        border: 1px solid transparent;
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    #copy_right>div{
        margin-top:20px ;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #copy_right span{
        border: none;
        margin: auto;
    }
    #copy_right img{
        width: 350px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 768px){
    /* MAIN SIGN UP CONTENT  */

    /* SIGN UP CONTENT START  */
    #main_signup_div{
        width: 98%;
        margin: auto;
        padding: 10px;
    }
    #main_signup_div>h2{
            font-size: x-large;
        }
    #main_signup_div>div{
        width: 90%;
        border: 1px solid transparent;
        margin: auto;
        height: 650px;
    }

    /* SIGN UP FORM TABLE DIV */
    .signup_form_table_div{
    display: flex;
    }

    /* SIGN UP FORM IN TABLE FORM  */
    .signup_form_label{
        width: 300px;
    }
    #signup_pleaseselect{
        width: 300px;
        height: 30px;
        color: rgb(87, 86, 86);
    }
    #firstname{
        width: 300px;
        height: 30px;
    }
    #lastname{
        width: 300px;
        height: 30px;
    }
    #customeremail{
        width: 300px;
        height: 30px;
    }
    #customerphnnum{
        width: 300px;
        height: 30px;
    }

    /* PASSWORD SECTION  */
    #password{
        width: 300px;
        height: 30px;
    }
    #confirmpassword{
        width: 300px;
        height: 30px;
    }

    /* THE FOOTER PART */
    #newslatter_text_container{
        width: 100%;
    }
    #service_charac{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
    }
    #service_charac div{

        width: 48%;
        height: 320px;
    }
    #service_charac>div:nth-child(3),#service_charac>div:nth-child(4){
        height: 200px;
    }
    #footer{
        border: 1px solid transparent;
        display: grid;
        margin: auto;
        width: 80%;
        grid-template-rows: 480px 480px;
        grid-template-columns: repeat(2,1fr);
    }
    #copy_right{
        border: 1px solid transparent;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 80%;
        margin: 310px auto 10px ;
        margin-left: 28%;
    }
    #copy_right>div{
        margin-top:20px ;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #copy_right span{
        border: none;
    }
}